<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Voting System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {% if request.user.is_authenticated %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-pills nav-fill">
               
               


            </ul>
            <ul class="navbar-nav navbar-right nav-pills nav-fill">

                <li class="nav-item me-auto mb-2 mb-lg-0 text-center mt-2">{{request.user.username}}</li>
                <li class="nav-item me-auto mb-2 mb-lg-0"> <a class="nav-link " aria-current="page"
                        href="{% url 'studentlogout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-pills nav-fill">
            </ul>
            <ul class="navbar-nav navbar-right nav-pills nav-fill">
                <li class="nav-item">
                    {% url 'studentsignup' as studentsignup %}
                    <a class="nav-link"
                        href="{% url 'studentsignup' %}">Sign Up</a>
                </li>
                <li class="nav-item me-auto mb-2 mb-lg-0">
                    {% url 'studentlogin' as studentlogin %}
                    <a class="nav-link"
                        aria-current="page" href="{% url 'studentlogin' %}">Login</a>
                </li>


            </ul>
            {% endif %}

        </div>
    </div>
</nav>